<div class="d-flex justify-content-between mb-2">
  <span class="font-weight-bold">{{ titleLabel() }}</span>
</div>
<sm-search
  [value]="searchTerm()"
  [minimumChars]="0"
  [debounceTime]="0"
  class="underline-search"
  [placeholder]="placeHolder()"
  (valueChanged)="onSearchTermChanged($event)"
></sm-search>
<div class="toggle-all-text">
  @if (searchTerm()) {
    <span (click)="toggleHideMatching()" data-id="hideShowMatchingButton">{{ allFilteredSelected() ? 'Hide matching' : 'Show matching' }}</span>
  } @else {
  <span (click)="toggleHideAll()" data-id="hideShowAllButton">{{ allSelected() ? 'Hide all' : 'Show all' }}</span>
  }
</div>
<div class="toggle-all-text">
</div>
<sm-grouped-selectable-list
  [filteredList]="filteredList()"
  [fullList]="listNested()"
  [searchTerm]="searchTerm()"
  [checkedList]="checkedList()"
  (itemSelect)="itemSelect.emit($event)"
  (itemCheck)="toggleHide($event)"
  (groupChecked)="toggleHideGroup($event)"
  data-id="toggleGraphList"
></sm-grouped-selectable-list>
