@use '../../../../../../../../node_modules/@angular/material/index' as mat;
@use "../../../../../styles/variables";

//@use "../assets/fonts/trains-icons.scss";
//@use "reboot";
//@use "minimal-bootstrap";
//@use "layout";
//@use "utilities";
@use "themes";
@use "./customizations";
@forward "../../../../../styles/icons"; //needs a clean from sass vars

:root {
  @include mat.all-component-themes(themes.$theme);
  @include mat.system-level-colors(themes.$theme);
  @include customizations.components(themes.$theme);

  &.dark-mode {
    @include mat.all-component-colors(themes.$dark-theme);
    @include mat.system-level-colors(themes.$dark-theme);
    @include customizations.components(themes.$dark-theme);
  }
}


$neon-yellow: #d3ff00;
$purple: #4d66ff;
$white-primary-text: rgba(white, 0.87);
$dark-primary-text: rgba(black, 0.87);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
  --mat-select-trigger-text-size: 14px;

  &.dark-mode {
    background-color: var(--color-surface-container-lowest);
  }
}

body {
  font-family: sans-serif;
  border: 1px solid color-mix(in srgb, var(--color-outline), transparent 60%);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

.d-flex-center {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  &.gap {
    gap: 12px !important;
  }
}

.ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mat-mdc-dialog-container {
  padding: 0 !important;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100% !important;
}

.ms-0 {
  margin-right: 0 !important;
}

.ms-1 {
  margin-right: 0.25rem !important;
}

.ms-2 {
  margin-right: 0.5rem !important;
}

.ms-3 {
  margin-right: 1rem !important;
}

.ms-4 {
  margin-right: 1.5rem !important;
}

.ms-5 {
  margin-right: 3rem !important;
}

.al-icon {
  text-align: center;
  display: inline-block;
}

.modebar-btn[data-attr="plotly-disabled-maximize"] {
  cursor: default !important;

  path {
    fill: var(--color-on-secondary-container) !important;
  }
}

.legendlines path,
.legendpoints path {
  cursor: default !important;
}

sm-debug-image-snippet {
  .image-var {
    top: 8px;
    bottom: unset;
    line-height: 20px;
  }
}

.dark-theme {
  //.axis {
  //  .domain {
  //    stroke: red;
  //    fill: red;
  //  }
  //
  //  .tick line{
  //    stroke: green;
  //    fill: green;
  //    stroke-opacity: 1;
  //  }
  //}
  .hoverlayer .spikeline:nth-child(even) {
    stroke: var(--color-outline-variant) !important;
  }
}
