<div class="sm-entity-page-header">
  <div class="d-flex-center">
    @if (!hideNavigation()) {
      <sm-button-toggle
        [disabled]="!tableMode() || noData()"
        [options]="[{label: 'Table view', value: 'table', icon: 'al-ico-table-view'}, {label: 'Details view', value: 'info', icon: 'al-ico-experiment-view'}]"
        [rippleEffect]="rippleEffect()"
        [ngModel]="!noData() && tableMode()"
        (ngModelChange)="tableModeChanged.emit($any($event))"></sm-button-toggle>
    }
    <sm-common-search [class.ms-3]="!hideNavigation()"></sm-common-search>
  </div>

  <div class="d-flex justify-content-end align-items-center gap-3">
    @if (!minimizedView()) {
      <sm-clear-filters-button
        [tableFilters]="tableFilters()"
        (clearTableFilters)="clearTableFilters.emit(tableFilters())"
      ></sm-clear-filters-button>
    }
    <div smTooltip="Download table as CSV">
      <button mat-icon-button class="download-btn" [disabled]="noData()" (click)="!noData() && downloadTableAsCSV.emit()" data-id="downloadCSVButton">
        <mat-icon fontSet="al" fontIcon="al-ico-download"></mat-icon>
      </button>
    </div>
    <sm-refresh-button (setAutoRefresh)="setAutoRefresh.emit($event)"></sm-refresh-button>
  </div>
</div>
