:host {
  display: block;
  z-index: 1000;
  width: 100%;
  font-size: 14px;

  mat-slider {
    min-width: 60px;
  }

  .divider {
    border-left: 1px solid var(--color-outline-variant);
    padding-left: 16px;
    margin-left: 8px;
  }

  .vertical-layout {
    font-size: 14px;

    .divider {
      border-left: unset;
      padding-left: unset;
      margin-left: unset;
      border-top: 1px solid var(--color-outline-variant);
      padding-top: 16px;
    }

    &.x-axis-options {
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      gap: 16px
    }

    .smooth-slide-field {
      margin-left: auto;
      width: 200px;

        ::ng-deep .mdc-form-field {
          width: 100%;
          justify-content: space-between;

          label {
            padding-left: 0;
            margin-left: 0;
          }
        }
    }

    .spacer {
      flex-grow: 1;
    }

    .smoothing-label {
      width: 90px;
      flex-grow: unset;
    }

    .slider {
      width: 110px;
    }


    .weight {
      min-width: 24px;
      margin-left: 14px;
      display: flex;
      justify-content: end;
    }


    .group-by-field,
    .axis-type-field,
    .smooth-type-field,
    {
      width: 200px;
    }

    .label-text {
      display: flex;
      align-items: center;
      white-space: nowrap;
      padding-right: 12px;
    }

    .axis-text-margin-left {
      margin-left: 0;
    }

    .close-settings {
      display: none;
    }

  }

  .close-button {
    margin-left: auto;
  }

  &.graph-settings-menu {
    padding: 12px;
  }

  .line-width-control {
    display: flex;
    gap: 8px;
    border-top: 1px solid var(--color-outline-variant);
    padding-top: 16px;

    .slider-row {
      display: flex;
      align-items: center;
      gap: 24px;
      width: 200px;
    }

    mat-slider {
      flex: 1;
    }

    .line-width-input {
      margin-right: 4px;
    }
  }
}

.x-axis-options {
  display: flex;
  flex-grow: 1;

  &.vertical-layout {
    justify-content: space-between;
  }

  align-items: center;
  gap: 12px;
}


.label-text {
  padding-right: 6px;
  flex-grow: 1;

  &.axis-text-margin-left {
    margin-left: 24px;
  }
}

.smoothing-text {
  padding-right: 16px;
}

.smooth-type-field {
  width: unset;
}

.smooth-options i {
  margin: auto 6px auto 25px;
}

mat-form-field {
  width: 150px;
  border-radius: 4px;

}

.axis-type-field {
  height: 36px;
  width: 130px;
}

.smooth-type {
  margin-left: 6px;
  width: 230px;
}

.axis-type-field {
  width: 172px;
}

.group-by-field {
  width: 180px;
}

.field {
  align-items: center;
}

.weight {
  margin-left: 6px;
  min-width: 24px;
}

.short-mode {
  .field {
    align-items: unset;
    flex-direction: column;

    .label-text {
      margin-left: 0;
      font-size: 12px;
    }
  }

  .smooth-input,
  .smooth-type {
    margin-top: 18px;
  }
}

.reset-button {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease;
  margin-left: -12px;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  &.divider {
    width: 100%;
    border-top: 1px solid var(--color-outline-variant);
  }
}

.width-100 {
  width: 100%;
}


