:host {

  .dialog-title {
    text-align: center;
    text-transform: uppercase;
    color: var(--color-primary);
    font-size: 24px;
    padding: 24px;
  }
  .search.outline {
    width: 450px;

    &.shorter {
      width: 50%;
    }
  }

  .select-experiments-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    //padding: 0 64px;
    width: 100%;

    mat-form-field {
      width: 50%;
    }
  }

  .hide-table {
    height: 0;
    overflow: hidden;

    &.show-table {
      flex-grow: 1;
      min-height: 400px;

      border: 1px solid var(--color-outline-variant);
      border-radius: 4px;
      overflow: hidden;
    }

    &.card-view {
      width: 610px;
    }
  }

  .table-container {
    width: 1160px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: auto;
    padding: 0;
  }

  mat-dialog-actions {

    button {
      width: 130px;
      text-transform: uppercase;
    }

    .yes-button {
      margin-left: 16px;
    }
  }
  ::ng-deep sm-table p-table {

    .p-datatable-hoverable-rows .p-datatable-selectable-row  {
      cursor: default;
    }

    &.card-view {
      .p-datatable-thead::after {
        background-color: var(--color-surface) !important;
        border-bottom: 1px solid var(--color-outline-variant) !important;

      }
      .card-header {
        box-shadow: none;
        background: transparent;
      }
    }
  }
}

