<mat-tree [dataSource]="dataSource()" [childrenAccessor]="childrenAccessor">
<!--  CHILDREN NODES-->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding [matTreeNodePaddingIndent]="24" [class]="node.parent ? 'child' : 'parent'">
    <span class="panel" [class]="node.parent ? 'child-node' : 'parent-node2'"
          [class.last-child]="node.lastChild">
      <span class="ellipsis flex-grow-1"
            [class.unchecked]="node.parent ? !(node.parent + node.name | stringIncludedInArray: checkedList()) : shouldUncheckParent()[node.name]"
            [smTooltip]="node.displayName ?? node.name" [matTooltipShowDelay]="500" smShowTooltipIfEllipsis
            (click)="itemSelect.emit(node.parent + node.name)" data-id="toggleGraphItems">{{ node.displayName ?? node.name }}</span>

      <button
        mat-icon-button
        data-id="showHideGraphList"
        class="sm me-2"
        (click)="node.parent ? itemCheck.emit( {pathString: node.parent + node.name, parent: node.parent}) : groupCheck(node); $event.stopPropagation()"
      >
        <mat-icon fontSet=al [fontIcon]="(node.parent ? (node.parent + node.name | stringIncludedInArray: checkedList()) : checkedList()?.includes(node.name)) ? checkIcon[0] : checkIcon[1]"></mat-icon>
      </button>
    </span>
  </mat-tree-node>
  <!--  PARENTS NODES-->
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding [cdkTreeNodeTypeaheadLabel]="node.name" class="parent">
    <span matTreeNodeToggle class="panel parent-node"
          [class.expanded]="tree().isExpanded(node)"
          [class.unchecked]="shouldUncheckParent()[node.name]">
      <i class="me-1 al-icon al-ico-next toggle-icon sm"></i>
      <span class="ellipsis flex-grow-1 pe-1" [smTooltip]="node.displayName ?? node.name" [matTooltipShowDelay]="500" smShowTooltipIfEllipsis>{{ node.displayName ?? node.name }}</span>
      <button
        mat-icon-button
        data-id="showHideGraphList"
        class="sm me-2"
        (click)="groupCheck(node); $event.stopPropagation()"
      >
        <mat-icon fontSet=al [fontIcon]="(node.childrenNames | arrayIncludedInArray:checkedList())? checkIcon[0] : checkIcon[1]"></mat-icon>
      </button>
    </span>
  </mat-tree-node>
</mat-tree>
