:host {
  sm-dialog-template {
    height: calc(100% - 70px);
  }

  .space-line {
    height: 14px;
  }

  sm-models-table {
    display: block;
    height: 100%;
  }

  .model-table-container {
    height: calc(100% - 113px);
    width: 100%;
  }

  .model-info-container {
    border: 1px solid var(--color-outline-variant);
    border-radius: 4px;
    overflow: hidden;
  }

  mat-dialog-actions {
    button {
      width: 130px;
      text-transform: uppercase;
    }

    .yes-button {
      margin-left: 16px;
    }
  }

  ::ng-deep p-table table {
    width: 100% !important;

    .p-datatable-selectable-row  {
      cursor: default !important;
    }
  }

  ::ng-deep .generic-container {
    max-height: unset !important;
    padding: 24px 42px 0 42px !important;
  }
}

