<sm-search-results-table
  [loading]="loadMoreActive()"
  [pages]="pages()"
  [advanced]="isAdvancedSearch()"
  [userId]="currentUser().id"
  [links]="links()"
  [allFilters]="allFilters()"
  [query]="searchTerm()?.query"
  (projectSelected)="projectCardClicked($event)"
  (experimentSelected)="taskSelected($event)"
  (openDatasetVersionSelected)="openDatasetVersionSelected($event)"
  (modelSelected)="modelSelected($event)"
  (modelEndpointSelected)="modelEndpointSelected($event)"
  (loadingEndpointSelected)="loadingModelEndpointSelected($event)"
  (pipelineSelected)="pipelineSelected($event)"
  (pipelineRunSelected)="pipelineRunSelected($event)"
  (reportSelected)="reportSelected($event)"
  (activeLinkChanged)="changeActiveLink($event)"
  (openDatasetSelected)="openDatasetCardClicked($event)"
  (loadMoreClicked)="loadMore($event)"
  (closeDialog)="closeDialog()"
  [projectsList]="projectsResults$ | ngrxPush"
  [tasksList]="experimentsResults$ | ngrxPush"
  [modelsList]="modelsResults$ | ngrxPush"
  [datasetsList]="openDatasetsResults$ | ngrxPush"
  [openDatasetVersionsList]="experimentsResults$ | ngrxPush"
  [pipelinesList]="pipelinesResults$ | ngrxPush"
  [pipelineRunsList]="experimentsResults$ | ngrxPush"
  [reportsList]="reportsResults$ | ngrxPush"
  [modelEndpointsList]="endpointsResults$ | ngrxPush"
  [loadingEndpointsList]="loadingEndpointsResults$ | ngrxPush"
  [resultsCount]="resultsCount()"
  [activeLink]="activeLink()"
></sm-search-results-table>
