@if (!isStagger()) {
  <div class="circles">
    @for (circle of data() | slice : 0 : effectiveLimit(); track $index; ) {
      <div
        class="circle"
        [class.empty]="!circle.name"
        [class]="circle.class"
        [class.long]="circle.initials?.length > 4"
        [class.me-2]="$index === 0 && data().length === 1"
        [style.left.px]="-6 * $index"
        [smTooltip]="circle.name"
      >
        <div class="inner-circle">
          @if (circle.iconClass) {
            <i class="al-icon sm-md" [class]="circle.iconClass"></i>
          } @else {
            {{ circle.name ? circle.initials || (circle.name | initials) : '' }}
          }
        </div>
      </div>
    }
    @if (effectiveLimit() && data().length > effectiveLimit()) {
      <div class="circle rest"
           customClass="break-line scrollable"
           [smTooltip]="restTooltip()"
           matTooltipPosition="right"
           [style.left.px]="-6 * (effectiveLimit())">
        <div>+{{ data().length - effectiveLimit() }}</div>
      </div>
    }
  </div>
} @else {
  <div class="circles">
    @for (circle of staggerArray; track $index; ) {
      <div
        class="circle stagger"
        [style.left.px]="-27 * $index"
        [style.z-index]="staggerArray.length - $index"
      >{{ $index === 0 ? stagger() : '' }}
      </div>
    }
  </div>
}
