:host {
  display: block;
  position: relative;
  height: 100%;

  .ace {
    height: 100%;
    width: 100%;
    &.readonly {
      ::ng-deep .ace_cursor-layer {
        opacity: 0;
      }
    }
    ::ng-deep .ace_scrollbar.ace_scrollbar-h{
      background-color: var(--color-surface-container-low);
    }
  }

  .buttons {
    display: flex;
    position: absolute;
    z-index: 2;
    top: 18px;
    right: 18px;
    gap: 12px;
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
  }

  &:hover {
    .buttons {
      opacity: 1;
    }
  }
}
