@use "../../assets/fonts/variables";


.fa-check-square {
  font-family: variables.$icomoon-font-family;
  display:inline-block;
  font-style: normal;
  &::before {
    content: variables.$al-ico-sqr-ok;
  }
}

.fa-square {
  font-family: variables.$icomoon-font-family;
  display:inline-block;
  font-style: normal;
  &::before {
    content: variables.$al-ico-sqr-empty;
  }
}
