@use '@angular/material' as mat;

.mat-drawer-container {
  --mat-sidenav-content-background-color: transparent;
  --mat-sidenav-container-shape: 0;
  --mat-sidenav-scrim-color: rgba(255,255,255,0.6);
}

@mixin drawer($theme) {
  @if mat.get-theme-type($theme) == dark {
    .mat-drawer-container {
      --mat-sidenav-scrim-color: rgba(0,0,0,0.4);
    }
  }
}