@mixin table-empty-message() {
  .no-output {
    color: var(--color-empty-state);
    font-size: 14px;
    display: flex;
    position: absolute;
    width: 100%;

    > span {
      position: sticky;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
    }

    .link {
      color: var(--color-primary);
      cursor: pointer;
      text-decoration: none;
      margin-left: 4px;

      &:hover {
        text-decoration: underline;
      }
    }

    &.centered {
      justify-content: center;

      > span {
        position: static;
        left: unset;
        transform: none;
      }
    }
  }
}

@mixin empty-card-mixin() {
  .empty-state {
    height: 100%;
    width: 100%;
    max-width: 2400px;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: var(--color-empty-state);
    text-align: center;

    .title-icon {
      .al-icon {
        margin: 0 auto;
      }
    }

    .mat-icon {
      margin: 0 auto;
    }

    .title {
      font-size: 16px;
      font-weight: 500;
      margin: 24px 0 6px;
    }

    .sub-title {
      color: var(--color-on-surface);
      text-align: center;
      margin-bottom: 24px;

      button {
        margin-top: 18px;
      }
    }
  }
}
