<h1>Easily build and deploy GenAI applications</h1>
<div class="sub-title">
  Click-and-deploy model endpoints and AI applications with secure, authenticated network access.
</div>

<div class="section">
  <div class="details">
    <h2>Model endpoint deployment</h2>
    Deploy scalable multi-model endpoints with configurable multi-GPU specification and GPU/CPU offloading.
  </div>
  <div class="image" (click)="imageClicked(image1)">
    <img
      [ngSrc]="'app/webapp-common/assets/marketing/apps-model-deployment-' + theme() + '.png'"
      #image1
      width="640"
      height="360"
      alt="Model deployment"
    >
  </div>
</div>

<div class="section">
  <div class="image" (click)="imageClicked(image2)">
    <img
      [ngSrc]="'app/webapp-common/assets/marketing/apps-gradio-with-input-' + theme() + '.png'"
      #image2
      width="640"
      height="360"
      alt="gradio streamlit"
    >
  </div>
  <div class="details">
    <h2>Easy ML/UI</h2>
    A UI launcher transforms any Gradio/Streamlit code into securely available web application.
  </div>
</div>

<div class="section">
  <div class="details">
    <h2>LLM Chat</h2>
    Securely deploy a UI chat client for any LLM.
  </div>
  <div class="image" (click)="imageClicked(image3)">
    <img
      [ngSrc]="'app/webapp-common/assets/marketing/apps-llm-edited-box-' + theme() + '.png'"
      #image3
      width="640"
      height="360"
      alt="query"
    >
  </div>
</div>

<div class="section">
  <div class="image" (click)="imageClicked(image4)">
    <img
      [ngSrc]="'app/webapp-common/assets/marketing/custom-apps-fhd-' + theme() + '.png'"
      #image4
      width="640"
      height="360"
      alt="custom apps"
    >
  </div>
  <div class="details">
    <h2>No-code app builder</h2>
    Add custom apps to your TonOps deployment to make AI accessible across your organization.
  </div>
</div>
