@import "mixins/common";
@import "variables";

:host {
  .dashboard-body {
    height: 100%;
    overflow: auto;
  }

  .recent {
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0 16px 24px;
  }

  .clear-search {
    font-size: 14px;
    text-align: center;
    color: #a7b2d8;
  }

  .view-all {
    font-size: 12px;
    font-weight: bold;
  }

  sm-dashboard-experiments {
    flex: 1;
    width: 100%;
    min-height: 320px;
    margin: 0;
  }

  .dashboard-search {
    display: block;
    overflow: auto;
    height: 100%;
  }
}
