<sm-workers-graph [activeWorker]="activeWorker()" class="overflow-hidden"></sm-workers-graph>
<as-split class="flex-grow-1" [gutterSize]=1 [useTransition]="true" (transitionEnd)="table.table().resize(); table.afterTableInit()">
  <as-split-area [size]="50">
    <sm-workers-table
      #table
      class="mt-2"
      [workers]="workers()"
      [selectedWorker]="activeWorker()"
      (sortedChanged)="sortedChanged($event)"
      [tableSortFields]="tableSortFields()"
      (workerSelected)="selectWorker($event)"
    >
    </sm-workers-table>
  </as-split-area>
  <as-split-area [size]="50" [visible]="activeWorker()">
    <sm-worker-info [selectedWorker]="activeWorker()"
      (deselectWorker)="selectWorker(null)">
    </sm-worker-info>
  </as-split-area>
</as-split>
