<header class="header">
  <mat-slide-toggle [formControl]="localRunsControl">Include Local Runs</mat-slide-toggle>
  <mat-divider [vertical]="true"></mat-divider>
<!--  <mat-form-field appearance="outline" subscriptSizing="dynamic">-->
<!--    <mat-select [formControl]="nominalControl">-->
<!--      @for (option of nominalOptions; track option) {-->
<!--        <mat-option [value]="option.value">-->
<!--          {{ option.label }}-->
<!--        </mat-option>-->
<!--      }-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->
<!--  <mat-divider [vertical]="true"></mat-divider>-->
  <sm-period-selector
    [formControl]="rangeControl"
    [timeFrameOptions]="timeFrameOptions">
  </sm-period-selector>
</header>
@if(!data.isLoading()) {
  @if(noData()) {
    <div class="empty-state">
      <div class="title-icon">
        <mat-icon fontSet="al" fontIcon="al-ico-no-data-graph" class="xxl"></mat-icon>
      </div>
      <div class="title">No information available for the selected period</div>
      <div class="sub-title">Run additional workloads to see resource utilization</div>
    </div>
  } @else {
    <div class="graphs">
      <div class="graph">
        <div class="graph__header">
          Resource Breakdown
        </div>
        <div class="graph__body">
          <sm-line-chart
            [data]="queueStats()" [colorScheme]="queueTotalsColors()" [showLoadingOverlay]="data.isLoading()"
            yLabel="hours" minUnit="day" [yTickFormatter]="formatter" class="graph__line" unit="hour"
          ></sm-line-chart>
          @if (this.nominal() === 'gpu' && usesDefaultWeight(data.value().queues)) {
            <div class="graph__notice">* weight wasn't reported, using the default</div>
          }
          <sm-donut class="graph__donut" [data]="queueTotals()" [colors]="queueTotalsColors()" units="hour"></sm-donut>
        </div>
      </div>
      <div class="graph">
        <div class="graph__header">
          Project Distribution
        </div>
        <div class="graph__body">
          <sm-line-chart
            [data]="projectsStats()" [colorScheme]="projectTotalsColors()" [showLoadingOverlay]="data.isLoading()"
            yLabel="hours" minUnit="day" [yTickFormatter]="formatter" class="graph__line" unit="hour"
          ></sm-line-chart>
          @if (this.nominal() === 'gpu' && usesDefaultWeight(data.value().projects)) {
            <div class="graph__notice">* weight wasn't reported, using the default</div>
          }
          <sm-donut class="graph__donut" [data]="projectsTotals()" [colors]="projectTotalsColors()" units="hour"></sm-donut>
        </div>
      </div>
      <div class="graph">
        <div class="graph__header">
          User Activity
        </div>
        <div class="graph__body">
          <sm-line-chart
            [data]="usersStats()" [colorScheme]="usersTotalsColors()" [showLoadingOverlay]="data.isLoading()"
            yLabel="hours" minUnit="day" [yTickFormatter]="formatter" class="graph__line" unit="hour"
          ></sm-line-chart>
          @if (this.nominal() === 'gpu' && usesDefaultWeight(data.value().users)) {
            <div class="graph__notice">* weight wasn't reported, using the default</div>
          }
          <sm-donut class="graph__donut" [data]="usersTotals()" [colors]="usersTotalsColors()" units="hour"></sm-donut>
        </div>
      </div>
    </div>
  }
}
