$palettes1: (
  primary: (
    0: #000000,
    10: #101a38,
    20: #262f4e,
    25: #313a5a,
    30: #3c4566,
    35: #485172,
    40: #545d7f,
    50: #6d7699,
    60: #868fb4,
    70: #a1aacf,
    80: #bcc5ec,
    90: #dce1ff,
    95: #eff0ff,
    98: #faf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #000e5e,
    20: #001c95,
    25: #0023b1,
    30: #012bcf,
    35: #1e3cda,
    40: #2f4ae6,
    50: #4e66ff,
    60: #7487ff,
    70: #98a5ff,
    80: #bbc3ff,
    90: #dee0ff,
    95: #f0efff,
    98: #fbf8ff,
    99: #fffbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #171e00,
    20: #2a3500,
    25: #344000,
    30: #3e4c00,
    35: #485900,
    40: #536600,
    50: #698000,
    60: #809b00,
    70: #97b800,
    80: #b0d500,
    90: #c9f300,
    95: #dcff5f,
    98: #f4ffc7,
    99: #fbffe0,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1b1b1e,
    20: #303033,
    25: #3b3b3e,
    30: #474649,
    35: #535255,
    40: #5f5e61,
    50: #787679,
    60: #929093,
    70: #acaaad,
    80: #c8c6c9,
    90: #e4e2e5,
    95: #f3f0f3,
    98: #fbf8fc,
    99: #fefbfe,
    100: #ffffff,
    4: #0e0e10,
    6: #131315,
    12: #1f1f22,
    17: #2a2a2c,
    22: #353437,
    24: #39393b,
    87: #dcd9dc,
    92: #eae7ea,
    94: #ffffff,
    96: #f6f3f6,
  ),
  neutral-variant: (
    0: #000000,
    10: #1a1b22,
    20: #2f3037,
    25: #3a3b42,
    30: #45464e,
    35: #515259,
    40: #5d5e65,
    50: #76767e,
    60: #909098,
    70: #abaab3,
    80: #c6c6ce,
    90: #e2e1eb,
    95: #f1f0f9,
    98: #faf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$palettes: (
  primary: (
    0: #000000,
    10: #410006,
    20: #68000D,
    25: #7D0012,
    30: #930018,
    35: #A90B22,
    40: #B91C2B,
    50: #DA3743,
    60: #FA535B,
    70: #FF8890,
    80: #FFB3B7,
    90: #FFDADB,
    95: #FFEDEE,
    98: #FFF8F7,
    99: #FFFBFF,
    100: #FFFFFF
  ),
  secondary: (
    0: #000000,
    10: #2C1517,
    20: #43292B,
    25: #4F3436,
    30: #5B3F41,
    35: #684A4C,
    40: #755658,
    50: #8F6F71,
    60: #AA898B,
    70: #C6A3A5,
    80: #E3BEC0,
    90: #FFDADB,
    95: #FFEDEE,
    98: #FFF8F7,
    99: #FFFBFF,
    100: #FFFFFF
  ),
  tertiary: (
    0: #000000,
    10: #311300,
    20: #502400,
    25: #602D00,
    30: #713700,
    35: #824100,
    40: #944B00,
    50: #B96013,
    60: #DC792C,
    70: #FA9546,
    80: #FFB77D,
    90: #FFDBC0,
    95: #FFEDE2,
    98: #FFF8F5,
    99: #FFFBFF,
    100: #FFFFFF
  ),
  neutral: (
    0: #000000,
    10: #201A1B,
    20: #362F30,
    25: #413A3B,
    30: #4D4546,
    35: #595052,
    40: #655C5E,
    50: #7F7576,
    60: #998E90,
    70: #B4A9AA,
    80: #D0C4C5,
    90: #EDE0E1,
    95: #FBEDEF,
    98: #FFF8F7,
    99: #FFFBFF,
    100: #FFFFFF,
    4: #120D0E,
    6: #171112,
    12: #251E1F,
    17: #302829,
    22: #3B3334,
    24: #403738,
    87: #E4D7D8,
    92: #F2E5E6,
    94: #F8EAEC,
    96: #FDF0F1,
  ),
  neutral-variant: (
    0: #000000,
    10: #24191A,
    20: #3A2D2F,
    25: #46383A,
    30: #524345,
    35: #5E4F50,
    40: #6B5A5C,
    50: #856F71,
    60: #A0888A,
    70: #BBA2A4,
    80: #D8BDBF,
    90: #F5DADC,
    95: #FFECEE,
    98: #FFF8F7,
    99: #FFFBFF,
    100: #FFFFFF
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);
