@use '@angular/material' as mat;
@use 'sass:map';
@use "clearml-palette" as palette;
@use "variables";

@include mat.elevation-classes();
@include mat.app-background();

$_rest: (
  secondary: map.get(palette.$palettes, secondary),
  neutral: map.get(palette.$palettes, neutral),
  neutral-variant: map.get(palette.$palettes,  neutral-variant),
  error: map.get(palette.$palettes, error),
);
$_primary: map.merge(map.get(palette.$palettes, primary), $_rest);
$_tertiary: map.merge(map.get(palette.$palettes, tertiary), $_rest);

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: $_primary,
    tertiary: $_tertiary,
    use-system-variables: true,
    system-variables-prefix: sys,
  ),
  typography: (
    plain-family: variables.$font-family-base,
    brand-family: variables.$font-family-base,
  )
));

$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: $_primary,
    tertiary: $_tertiary,
    use-system-variables: true,
    system-variables-prefix: sys,
  ),
  typography: (
    plain-family: variables.$font-family-base,
    brand-family: variables.$font-family-base,
  )
));

