@use "sass:string";
$icomoon-font-family: "trains" !default;
$icomoon-font-path: "fonts" !default;

$al-ico-company: string.unquote('"\\ea35"');
$al-ico-compacted: string.unquote('"\\ea34"');
$al-ico-downward: string.unquote('"\\ea23"');
$al-ico-upward: string.unquote('"\\ea24"');
$al-ico-package: string.unquote('"\\ea22"');
$al-ico-dataviews: string.unquote('"\\ea21"');
$al-ico-app-gateway: string.unquote('"\\ea20"');
$al-ico-distance: string.unquote('"\\ea1f"');
$al-ico-pin: string.unquote('"\\ea1d"');
$al-ico-pin-off: string.unquote('"\\ea1c"');
$al-ico-nearest: string.unquote('"\\ea1e"');
$al-ico-no-data-code: string.unquote('"\\ea1b"');
$al-ico-no-data-markdown: string.unquote('"\\ea1a"');
$al-ico-enterprise-rocket: string.unquote('"\\ea19"');
$al-ico-no-data-table: string.unquote('"\\ea18"');
$al-ico-palette: string.unquote('"\\e900"');
$al-ico-log: string.unquote('"\\ea16"');
$al-ico-debug-samples: string.unquote('"\\ea15"');
$al-ico-artifacts: string.unquote('"\\ea14"');
$al-ico-close-circle: string.unquote('"\\ea13"');
$al-ico-bullhorn: string.unquote('"\\ea12"');
$al-ico-view-horizontal: string.unquote('"\\ea11"');
$al-ico-model-endpoints: string.unquote('"\\ea08"');
$al-ico-vm: string.unquote('"\\ea0c"');
$al-ico-retry: string.unquote('"\\ea07"');
$al-ico-link-off: string.unquote('"\\ea05"');
$al-ico-policy: string.unquote('"\\e9d5"');
$al-ico-info-group: string.unquote('"\\e944"');
$al-ico-advanced-filters: string.unquote('"\\e911"');
$al-ico-triggers-scheduled: string.unquote('"\\ea06"');
$al-ico-queue: string.unquote('"\\ea01"');
$al-ico-link-plus: string.unquote('"\\ea02"');
$al-ico-drag-vertical: string.unquote('"\\ea03"');
$al-ico-drag-horizontal: string.unquote('"\\ea04"');
$al-ico-admin-support: string.unquote('"\\ea00"');
$al-ico-scatter-view: string.unquote('"\\e9ff"');
$al-ico-schedulers: string.unquote('"\\e9fb"');
$al-ico-triggers: string.unquote('"\\e9fc"');
$al-ico-autoscalers: string.unquote('"\\e9fd"');
$al-ico-automation: string.unquote('"\\e9fe"');
$al-ico-charts-view: string.unquote('"\\e9f9"');
$al-ico-compact-view: string.unquote('"\\e9fa"');
$al-ico-tune: string.unquote('"\\e9f8"');
$al-ico-equal-outline: string.unquote('"\\e9f7"');
$al-ico-maximize: string.unquote('"\\e9f6"');
$al-ico-gpu-card: string.unquote('"\\e9f4"');
$al-ico-legend: string.unquote('"\\e9f3"');
$al-ico-model-filled: string.unquote('"\\e9f2"');
$al-ico-type-report: string.unquote('"\\e9f1"');
$al-ico-info-circle-outline: string.unquote('"\\e9f0"');
$al-ico-ghost: string.unquote('"\\e9ef"');
$al-ico-flat-view: string.unquote('"\\e9ee"');
$al-ico-camera: string.unquote('"\\e9ed"');
$al-ico-markdown: string.unquote('"\\e9ec"');
$al-ico-hor-expand: string.unquote('"\\e9ea"');
$al-ico-hor-minimize: string.unquote('"\\e9eb"');
$al-ico-pdf: string.unquote('"\\e9e9"');
$al-ico-reports: string.unquote('"\\e9e8"');
$al-ico-gpu: string.unquote('"\\e9e7"');
$al-ico-project-path: string.unquote('"\\e9e6"');
$al-ico-tree-view: string.unquote('"\\e9e5"');
$al-ico-sort-asc: string.unquote('"\\e9e3"');
$al-ico-sort-desc: string.unquote('"\\e9e4"');
$al-ico-grid-view: string.unquote('"\\e9e0"');
$al-ico-connect: string.unquote('"\\e9de"');
$al-ico-disconnect: string.unquote('"\\e9da"');
$al-ico-trash-all: string.unquote('"\\e9d9"');
$al-ico-drag: string.unquote('"\\e9d8"');
$al-ico-py: string.unquote('"\\e9d7"');
$al-ico-file: string.unquote('"\\e9d3"');
$al-ico-txt: string.unquote('"\\e9d6"');
$al-ico-pkl: string.unquote('"\\e9cd"');
$al-ico-image: string.unquote('"\\e958"');
$al-ico-zip: string.unquote('"\\e9ce"');
$al-ico-code-file: string.unquote('"\\e9a4"');
$al-ico-audio: string.unquote('"\\e9d0"');
$al-ico-upload: string.unquote('"\\e9cc"');
$al-ico-min-panel: string.unquote('"\\e9ca"');
$al-ico-max-panel: string.unquote('"\\e9cb"');
$al-ico-datasets: string.unquote('"\\e90b"');
$al-ico-t-logo-b: string.unquote('"\\e908"');
$al-ico-bars-menu: string.unquote('"\\e933"');
$al-ico-home: string.unquote('"\\e909"');
$al-ico-projects: string.unquote('"\\e90a"');
$al-ico-queues: string.unquote('"\\e90c"');
$al-ico-annotator: string.unquote('"\\e90d"');
$al-ico-account: string.unquote('"\\e998"');
$al-ico-compare: string.unquote('"\\e93f"');
$al-ico-archive: string.unquote('"\\e92c"');
$al-ico-cloud-head: string.unquote('"\\e9a6"');
$al-ico-how-to: string.unquote('"\\e997"');
$al-ico-compare-c: string.unquote('"\\e93a"');
$al-ico-published-title: string.unquote('"\\e9d2"');
$al-ico-publish: string.unquote('"\\e9cf"');
$al-ico-unpublish: string.unquote('"\\ea0f"');
$al-ico-published: string.unquote('"\\e9d1"');
$al-ico-info: string.unquote('"\\e99b"');
$al-ico-warn: string.unquote('"\\ea10"');
$al-ico-settings: string.unquote('"\\e9e2"');
$al-ico-trash: string.unquote('"\\ea0b"');
$al-ico-arrow-from-right: string.unquote('"\\e92e"');
$al-ico-arrow-from-left: string.unquote('"\\e92d"');
$al-ico-arrow-to-bottom: string.unquote('"\\e92f"');
$al-ico-arrow-to-top: string.unquote('"\\e930"');
$al-ico-training: string.unquote('"\\e90e"');
$al-ico-test: string.unquote('"\\ea09"');
$al-ico-testing: string.unquote('"\\ea0a"');
$al-ico-type-training: string.unquote('"\\ea33"');
$al-ico-type-testing: string.unquote('"\\ea32"');
$al-ico-type-data-processing: string.unquote('"\\ea2c"');
$al-ico-type-qc: string.unquote('"\\ea30"');
$al-ico-type-service: string.unquote('"\\ea31"');
$al-ico-type-optimizer: string.unquote('"\\ea2f"');
$al-ico-type-monitor: string.unquote('"\\ea2e"');
$al-ico-type-inference: string.unquote('"\\ea2d"');
$al-ico-type-application: string.unquote('"\\ea29"');
$al-ico-type-controller: string.unquote('"\\ea2a"');
$al-ico-type-custom: string.unquote('"\\ea2b"');
$al-ico-how-to1: string.unquote('"\\e90f"');
$al-ico-model: string.unquote('"\\e910"');
$al-ico-dialog-x: string.unquote('"\\e980"');
$al-ico-temp-image: string.unquote('"\\e912"');
$al-ico-temp-list-alt: string.unquote('"\\e913"');
$al-ico-dog: string.unquote('"\\e914"');
$al-ico-alert-purple: string.unquote('"\\e927"');
$al-ico-back: string.unquote('"\\e931"');
$al-ico-cat: string.unquote('"\\e936"');
$al-ico-clone: string.unquote('"\\e937"');
$al-ico-completed: string.unquote('"\\e940"');
$al-ico-data-audit: string.unquote('"\\e943"');
$al-ico-download-frames: string.unquote('"\\e982"');
$al-ico-dropdown-arrow: string.unquote('"\\e984"');
$al-ico-ellipse-icon: string.unquote('"\\e986"');
$al-ico-filter: string.unquote('"\\e992"');
$al-ico-fit: string.unquote('"\\e995"');
$al-ico-id: string.unquote('"\\e999"');
$al-ico-info-max: string.unquote('"\\e99c"');
$al-ico-info-min: string.unquote('"\\e99d"');
$al-ico-keypoint: string.unquote('"\\e99f"');
$al-ico-list-view: string.unquote('"\\e9a5"');
$al-ico-minus: string.unquote('"\\e9a7"');
$al-ico-previous: string.unquote('"\\e9bb"');
$al-ico-next: string.unquote('"\\e9af"');
$al-ico-plus: string.unquote('"\\e9b8"');
$al-ico-polygon: string.unquote('"\\e9b9"');
$al-ico-pytorch-icon: string.unquote('"\\e9d4"');
$al-ico-rectangle: string.unquote('"\\e9db"');
$al-ico-running: string.unquote('"\\e9df"');
$al-ico-setup: string.unquote('"\\ea0d"');
$al-ico-undo: string.unquote('"\\ea0e"');
$al-ico-zoom-1-to-1: string.unquote('"\\ea25"');
$al-ico-zoom-in: string.unquote('"\\ea26"');
$al-ico-zoom-out: string.unquote('"\\ea27"');
$al-ico-search: string.unquote('"\\e9e1"');
$al-ico-zoom-to-fit: string.unquote('"\\ea28"');
$al-ico-reset: string.unquote('"\\e9dd"');
$al-ico-import: string.unquote('"\\e99e"');
$al-ico-export: string.unquote('"\\e9b6"');
$al-ico-between: string.unquote('"\\e934"');
$al-ico-next-batch: string.unquote('"\\e9b0"');
$al-ico-prev-batch: string.unquote('"\\e9ba"');
$al-ico-back-to-top: string.unquote('"\\e932"');
$al-ico-redo: string.unquote('"\\e9dc"');
$al-ico-download: string.unquote('"\\e981"');
$al-ico-edit: string.unquote('"\\e983"');
$al-ico-pending: string.unquote('"\\e9b7"');
$al-ico-sqr-empty: string.unquote('"\\e925"');
$al-ico-success: string.unquote('"\\e9f5"');
$al-ico-alert-outline: string.unquote('"\\e926"');
$al-ico-github: string.unquote('"\\e915"');
$al-ico-description: string.unquote('"\\e916"');
$al-ico-line-expand: string.unquote('"\\e901"');
$al-ico-user-logout: string.unquote('"\\e902"');
$al-ico-documentation: string.unquote('"\\e919"');
$al-ico-frame-rule: string.unquote('"\\e91a"');
$al-ico-source-rule: string.unquote('"\\e91b"');
$al-ico-get-link-dialog: string.unquote('"\\e91d"');
$al-ico-iteration: string.unquote('"\\e91e"');
$al-ico-mapping: string.unquote('"\\e91f"');
$al-ico-labels: string.unquote('"\\e920"');
$al-ico-augmentation: string.unquote('"\\e921"');
$al-ico-filter-outlined: string.unquote('"\\e922"');
$al-ico-input-data: string.unquote('"\\e923"');
$al-ico-help-outlined: string.unquote('"\\e924"');
$al-ico-email: string.unquote('"\\e928"');
$al-ico-tips: string.unquote('"\\e929"');
$al-ico-caret-right: string.unquote('"\\e92a"');
$al-ico-currently-active: string.unquote('"\\e92b"');
$al-ico-complete: string.unquote('"\\e92b"');
$al-ico-access-key: string.unquote('"\\e935"');
$al-ico-alert: string.unquote('"\\e9b3"');
$al-ico-users: string.unquote('"\\e91c"');
$al-ico-exit-archive: string.unquote('"\\e938"');
$al-ico-calendar: string.unquote('"\\e939"');
$al-ico-time: string.unquote('"\\e93b"');
$al-ico-add: string.unquote('"\\e93c"');
$al-ico-time-colon: string.unquote('"\\e93d"');
$al-ico-regex: string.unquote('"\\e93e"');
$al-ico-filter-on-path1: string.unquote('"\\e941"');
$al-ico-filter-on-path2: string.unquote('"\\e942"');
$al-ico-filter-off: string.unquote('"\\e945"');
$al-ico-sort-off: string.unquote('"\\e946"');
$al-ico-sort-on-down-path1: string.unquote('"\\e947"');
$al-ico-sort-on-down-path2: string.unquote('"\\e948"');
$al-ico-sort-on-up-path1: string.unquote('"\\e949"');
$al-ico-sort-on-up-path2: string.unquote('"\\e94a"');
$al-ico-arrow-left: string.unquote('"\\e94b"');
$al-ico-arrow-right: string.unquote('"\\e94c"');
$al-ico-step-backward: string.unquote('"\\e94d"');
$al-ico-step-forward: string.unquote('"\\e94e"');
$al-ico-backward: string.unquote('"\\e94f"');
$al-ico-forward: string.unquote('"\\e950"');
$al-ico-copy-to-clipboard: string.unquote('"\\e951"');
$al-ico-card-example: string.unquote('"\\e952"');
$al-ico-bold: string.unquote('"\\e953"');
$al-ico-italic: string.unquote('"\\e954"');
$al-ico-heading: string.unquote('"\\e955"');
$al-ico-quote: string.unquote('"\\e956"');
$al-ico-link: string.unquote('"\\e957"');
$al-ico-code: string.unquote('"\\e959"');
$al-ico-list-bulleted: string.unquote('"\\e95a"');
$al-ico-list-numbered: string.unquote('"\\e95b"');
$al-ico-me: string.unquote('"\\e95c"');
$al-ico-team: string.unquote('"\\e95d"');
$al-ico-task-desc: string.unquote('"\\e95e"');
$al-ico-dots: string.unquote('"\\e95f"');
$al-ico-move-to: string.unquote('"\\e960"');
$al-ico-abort: string.unquote('"\\e961"');
$al-ico-extend: string.unquote('"\\e962"');
$al-ico-reset-exp: string.unquote('"\\e963"');
$al-ico-tag: string.unquote('"\\e964"');
$al-ico-shared-item: string.unquote('"\\e965"');
$al-ico-restore: string.unquote('"\\e966"');
$al-ico-workers: string.unquote('"\\e967"');
$al-ico-dots-v-menu: string.unquote('"\\e96a"');
$al-ico-d-menu-down: string.unquote('"\\e96b"');
$al-ico-d-menu-up: string.unquote('"\\e96c"');
$al-ico-slash: string.unquote('"\\e96d"');
$al-ico-info-circle: string.unquote('"\\e96e"');
$al-ico-annotate: string.unquote('"\\e96f"');
$al-ico-task-desc-outline: string.unquote('"\\e970"');
$al-ico-manage-queue: string.unquote('"\\e968"');
$al-ico-enqueue: string.unquote('"\\e969"');
$al-ico-dequeue: string.unquote('"\\e971"');
$al-ico-applications: string.unquote('"\\e972"');
$al-ico-ico-chevron-up: string.unquote('"\\e973"');
$al-ico-ico-chevron-down: string.unquote('"\\e974"');
$al-ico-no-data-graph: string.unquote('"\\e975"');
$al-ico-no-scatter-graph: string.unquote('"\\e976"');
$al-ico-auto-refresh-play-path1: string.unquote('"\\e977"');
$al-ico-auto-refresh-play-path2: string.unquote('"\\e978"');
$al-ico-auto-refresh-pause-path1: string.unquote('"\\e979"');
$al-ico-auto-refresh-pause-path2: string.unquote('"\\e97a"');
$al-ico-sqr-ok: string.unquote('"\\e97b"');
$al-ico-sqr-cancel: string.unquote('"\\e97c"');
$al-ico-queue-lg: string.unquote('"\\e97d"');
$al-ico-started-lg: string.unquote('"\\e97e"');
$al-ico-admin: string.unquote('"\\e97f"');
$al-ico-projects-outlined: string.unquote('"\\e985"');
$al-ico-datasets-outlined: string.unquote('"\\e987"');
$al-ico-hide: string.unquote('"\\e988"');
$al-ico-show: string.unquote('"\\e989"');
$al-ico-metadata: string.unquote('"\\e98a"');
$al-ico-filter-reset-path1: string.unquote('"\\e98b"');
$al-ico-filter-reset-path2: string.unquote('"\\e98c"');
$al-ico-version-label: string.unquote('"\\e98d"');
$al-ico-plugin: string.unquote('"\\e98e"');
$al-ico-abort-all: string.unquote('"\\e98f"');
$al-ico-refresh: string.unquote('"\\e990"');
$al-ico-rocket: string.unquote('"\\e991"');
$al-ico-logout: string.unquote('"\\e993"');
$al-ico-settings-alert-path1: string.unquote('"\\e994"');
$al-ico-settings-alert-path2: string.unquote('"\\e996"');
$al-ico-platform: string.unquote('"\\e99a"');
$al-ico-creditcard: string.unquote('"\\e9a0"');
$al-ico-star: string.unquote('"\\e9a1"');
$al-ico-email-check: string.unquote('"\\e9a2"');
$al-ico-slack: string.unquote('"\\e9a3"');
$al-ico-youtube: string.unquote('"\\e9a8"');
$al-ico-lock: string.unquote('"\\e9a9"');
$al-ico-lock-open: string.unquote('"\\e9aa"');
$al-ico-no-code: string.unquote('"\\e9ab"');
$al-ico-calendar-checked: string.unquote('"\\e9ad"');
$al-ico-no-source: string.unquote('"\\e9ae"');
$al-ico-arrow-up: string.unquote('"\\e9b1"');
$al-ico-arrow-down: string.unquote('"\\e9b2"');
$al-ico-error-circle: string.unquote('"\\e9b4"');
$al-ico-pipelines: string.unquote('"\\e9b5"');
$al-ico-console: string.unquote('"\\e9bc"');
$al-ico-link-arrow: string.unquote('"\\e9bf"');
$al-ico-broken-file: string.unquote('"\\e9c0"');
$al-ico-run: string.unquote('"\\e9c1"');
$al-ico-table-view: string.unquote('"\\e9c2"');
$al-ico-experiment-view: string.unquote('"\\e9c3"');
$al-ico-code-square: string.unquote('"\\e9c4"');
$al-ico-video: string.unquote('"\\e9c5"');
$al-ico-less-than: string.unquote('"\\e9c6"');
$al-ico-greater-than: string.unquote('"\\e9c7"');
$al-ico-eye-outline: string.unquote('"\\e9c8"');
$al-ico-csv: string.unquote('"\\e9c9"');
$al-ico-status-draft: string.unquote('"\\e903"');
$al-ico-status-published: string.unquote('"\\e906"');
$al-ico-status-aborted-sec: string.unquote('"\\e918"');
$al-ico-status-pending: string.unquote('"\\e904"');
$al-ico-status-skipped: string.unquote('"\\e9bd"');
$al-ico-status-cached: string.unquote('"\\e9be"');
$al-ico-status-executed: string.unquote('"\\e9ac"');
$al-ico-status-running: string.unquote('"\\e905"');
$al-ico-status-failed: string.unquote('"\\e907"');
$al-ico-status-aborted: string.unquote('"\\e917"');
$al-ico-status-completed: string.unquote('"\\ea17"');
